In [65]:
import requests
from bs4 import BeautifulSoup as bs
import numpy as np
import pandas as pd

In [151]:
Job_name=[]
Company_name=[]
Place=[]
Date=[]
jtype=[]
experince=[]

for page_no in range(0,14):
    url=f'https://wuzzuf.net/search/jobs/?a=hpb%7Cspbg&q=data%20science&start={page_no}'
    page= requests.get(url)
    src=page.content
    soup= bs(src,'lxml')
    alljobs=soup.find_all('div',{"class":"css-1gatmva e1v1l3u10"})
 


    for i in alljobs:
        job_names= i.find("a",{"class":"css-o171kl"}).text.strip()
        Job_name.append(job_names)

        company_names=i.find("a",{"class":"css-17s97q8"}).text.strip()
        Company_name.append(company_names)

        place=i.find('span',{"class":"css-5wys0k"}).text.strip()
        Place.append(place)

        date=i.find('div',{"class":["css-4c4ojb",'css-do6t5g']}).text
        Date.append(date)

        Jtype=i.find('span',{"class":"css-1ve4b75 eoyjyou0"}).text.strip()
        jtype.append(Jtype)

        Jexp=i.find('div',{"class":"css-y4udm8"}).text
        experince.append(Jexp)

In [152]:
data=[Job_name,Company_name,Place,Date,jtype,experince]
data=pd.DataFrame(data)
data=data.T
data.columns=["Job_name","Company_name","Place",'Date',"job_type","experience"]
data

,Job_name,Company_name,Place,Date,job_type,experience
0,Data Science Instructor,EpsilonAI -,"Nasr City, Cairo, Egypt",7 hours ago,Full Time,Full TimePart TimeFreelance / ProjectExperienc...
1,Faculty - Data Science and Cyber Security,University of Doha for Science and Technology ...,"Doha, Qatar",1 day ago,Full Time,Full TimeNot specified · Administration · Crea...
2,Assistant Manager - Data Science,Bupa Arabia -,"Jeddah, Saudi Arabia",3 days ago,Full Time,Full TimeNot specified · Administration · Cust...
3,Data Analysis/Analytics Instructor (Excel - Po...,EpsilonAI -,"Nasr City, Cairo, Egypt",9 hours ago,Full Time,Full TimePart TimeFreelance / ProjectExperienc...
4,Data Engineer,Carina Wear -,"New Cairo, Cairo, Egypt",8 days ago,Full Time,Full TimeEntry Level · 0 - 1 Yrs of Exp · Anal...
...,...,...,...,...,...,...
205,Microsoft Dynamics AX 365 Functional Consultant,reeqwest -,"Dubai, United Arab Emirates",3 days ago,Full Time,Full TimeNot specified · Accounting/Finance · ...
206,CONTROLLER - BILLING,DP World -,"Dubai, United Arab Emirates",3 days ago,Full Time,Full TimeNot specified · IT/Software Developme...
207,Senior Associate - Marketing Projects,Department of Tourism and Commerce Marketing -,"Dubai, United Arab Emirates",3 days ago,Full Time,Full TimeNot specified · Accounting/Finance · ...
208,Senior Associate Campaigns,Department of Tourism and Commerce Marketing -,"Dubai, United Arab Emirates",3 days ago,Full Time,Full TimeNot specified · Accounting/Finance · ...
209,CISO - Head of Security,DISCOVERED -,"Dubai, United Arab Emirates",3 days ago,Full Time,Full TimeNot specified · Customer Service/Supp...

In [155]:
data.to_csv('wazzuf.csv',index=None)